* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #ffffff;
    font: normal 12pt Arial;
}

header, main, footer {
    padding: 5px;
}

header, footer {
    text-align: center;
}

header {
    background-color: #d7edff;
    padding: 15px;
}

h1 {
    color: black;
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

#Anchors-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#Anchors-list li a {
    padding: 1px;
    color: black;
    border-radius: 5px;
}

main {
    background-color: #ffffff;
    padding: 10px;
}