@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    overflow-x: hidden !important;
}

@media (max-width: 786px) {
    body, html {
        overflow-x: hidden !important;
    }
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header, footer {
    width: 100%;
    color: white;
    background-color: black;
}

#navMobileHeader, #menu-content {
    visibility: collapse;
    height: 0;
}

#menu-access {
    visibility: collapse;
    height: 0;
    width: 0;
}

.button-to-the-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
}

#titleHeader {
    background-image: url(imgs/background-header-img_used.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#title {
    color: #db0000;
    font-size: 50px;
    font-weight: 700;
    font-family: Calibri, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 5%;
}

#navPcHeader {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    background-color: white;
}

#navPcHeader nav {
    margin-top: 5px;
    margin-bottom: 5px;
}

.anchors-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.anchors-list li a {
    text-decoration: none;
    cursor: pointer;
}

#firstNav {
    justify-content: space-around;
}

#firstNav li a {
    color: #3b3b3b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: 0.3s;
}

#firstNav li a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

main {
    background-color: white;
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
}

.titleSections {
    padding: 0.5%;
    background-color: black;
}

.titleSections h2 {
    margin-left: 10%;
    color: white;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.contentSections {
    margin: 2%;
    margin-left: 6%;
    width: 75%;
}

h3 {
    font-size: 25px;
}

footer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    background-color: #151515;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 2%;
}

#button-to-the-top-pc {
    margin: auto;
    visibility: visible;
    transition: 0.1s;
    cursor: pointer;
}

#button-to-the-top-pc:hover {
    background-color: #696969;
    color: black;
    border: 1px solid black;
    transition: 0.1s;
}

#button-to-the-top-pc p {
    font-size: 22px;
}

#button-to-the-top-pc img {
    width: 35px;
}

#secondNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#secondNav li a {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    transition: 0.1s;
}

#secondNav li a:hover {
    color: white;
    background-color: #424242;
    border: 1px solid white;
    transition: 0.1s;
}

#copyright {
    color: white;
    margin: 2%;
    margin-top: 0.5%;
}


/*
Configuração Responsiva/Mobile:
*/

@media only screen and (min-device-width: 851px) {
    #navMobileHeader, #menu-access, #menu-content, #button-to-the-top-mobile {
        visibility: collapse !important;
        width: 0 !important;
        height: 0 !important;
    }
}

@media only screen and (max-device-width: 850px) {
    #navMobileHeader {
        visibility: visible;
        width: 100%;
        background-color: #151515;
        position: fixed;
    }

    #menu-access {
        visibility: visible;
        width: 100%;
        height: fit-content;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #menu-button {
        width: fit-content;
        padding: 5px;
    }

    #menu-button img {
        width: 55px;
        margin: 1%;
    }

    #button-to-the-top-mobile {
        margin: 1%;
        visibility: collapse;
    }

    #button-to-the-top-mobile p {
        font-size: 16px;
    }

    #button-to-the-top-mobile img {
        width: 20px;
    }

    #menu-content {
        background-image: url(imgs/design-black-background_cutted.jpg);
        background-size: cover;
        color: white;
    }

    #menu-content nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        padding: 30%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #menu-word {
        font-size: 24px;
        margin-left: 2%;
    }
    
    #mobile-anchors-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
    }
    
    #mobile-anchors-list li {
        width: fit-content;
        border-left: 5px solid white;
        background-color: #555555;
        padding: 5px;
        border-radius: 2px;
    }
    
    #mobile-anchors-list li a {
        color: #eeeeee;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    #titleHeader {
        height: 60vh;
    }
    
    #title {
        font-size: 60px;
    }
    
    h1, h2 {
        font-size: 50px;
    }

    #navPcHeader {
        padding: 0;
        margin: 0;
        height: 0;
        visibility: collapse;
    }

    main {
        font-size: 18px;
    }

    .contentSections {
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 85%;
    }

    .titleSections {
        padding: 1%;
    }

    .titleSections h2 {
        margin-left: 8%;
    }

    h3 {
        font-size: 45px;
    }

    #button-to-the-top-pc {
        visibility: collapse !important;
        width: 0;
        height: 0;
    }

    #secondNav li a {
        color: black;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 20px;
    }
    
    #secondNav li a:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }

    #copyright {
        font-size: 16px;
    }
}

@media only screen and (max-device-width: 605px) {
    #menu-button img {
        width: 45px;
    }
    
    #titleHeader {
        height: 55vh;
    }
    
    #title {
        font-size: 55px;
    }
    
    h1, h2 {
        font-size: 40px;
    }
    
    main {
        font-size: 18px;
    }

    h3 {
        font-size: 35px;
    }
}

@media only screen and (max-device-width: 495px) {
    #menu-button img {
        width: 40px;
    }
    
    #titleHeader {
        height: 55vh;
    }
    
    #title {
        font-size: 40px;
    }
    
    h1, h2 {
        font-size: 30px;
    }
    
    main {
        font-size: 16px;
    }

    h3 {
        font-size: 25px;
    }
}

@media only screen and (max-device-width: 380px) {
    #menu-button img {
        width: 35px;
    }
    
    #titleHeader {
        height: 55vh;
    }
    
    #title {
        font-size: 32px;
    }
    
    h1, h2 {
        font-size: 22px;
    }

    main {
        font-size: 14px;
    }

    h3 {
        font-size: 15px;
    }
}

@media only screen and (max-device-height: 450px) {
    #titleHeader {
        height: 80vh;
    }
}