* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #ffffff;
    font: normal 12pt Arial;
    color: black;
}

header, footer {
    text-align: center;
    background-color: #d7edff;
    padding: 15px;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 25pt;
}

h3 {
    font-size: 20pt;
}

span {
    color: rgb(224, 0, 0);
}

#anchors-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#anchors-list li a {
    color: black;
    text-decoration: none;
}

#anchors-list li a div {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(174, 214, 255);
}

main {
    background-color: #ffffff;
}

.titleSections {
    background-color: rgb(174, 214, 255);
}

.titleSections h2 {
    padding: 1%;
    padding-left: 10%;
}

.contentSections {
    padding: 1.5%;
    padding-right: 20%;
    padding-left: 6%;
    text-align: justify;
}

.contentSections p {
    font-size: 15pt;
}